.slogan {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7%;
}

.button1 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 5 px;

}


.images {
  display: flex;
  padding-top: 60px;
  position: absolute;
  bottom: 0;
}

.photo2 {
  z-index: 5;
  height: 150px;
  width: 300px;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  left: 250px;
  bottom: 0;
}

.photo3 {
  z-index: 10;
  height: 180px;
  width: 300px;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  left: 480px;
  bottom: 0;
}

.photo4 {
  z-index: 5;
  height: 150px;
  width: 300px;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  left: 700px;
  bottom: 0;
}